.footer {
  background: #111;
  color: #fff;
  margin-top: 80px;
  padding: 40px 0 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;   
  align-items: flex-start;         
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}


.footer-section {
  margin: 20px;
  width: 250px;   
}


.footer-section h4 {
  margin-bottom: 15px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}

.about-us {
    display: flex;
  align-items: center;   
  gap: 8px;              
  margin: 5px;
}

.customer-service {
    display: flex;
  align-items: center;  
  gap: 8px;             
  margin: 5px;
}

.social-item {
  display: flex;
  align-items: center;   
  gap: 8px;              /* 文字與 icon 間距 */
  margin: 5px;
}

.ig-icon {
  color: #d62976;
  font-size: 22px;
}

.fb-icon {
    color: #0866FF;
    font-size: 22px;
}

.line-icon {
    color: #00b900;
     font-size: 22px;
}