.carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel-window {
  width: 100%; /* 3 cards */
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
  gap: 20px;
}

.arrow {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 20px;
}
