/* Sidebar.css */

.sidebar {
  position: fixed;
  width: 200px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 64px;   
  height: calc(100vh - 64px);
}

.sidebar-item {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-item:hover {
  background-color: #ddd;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sidebar-list {
  list-style: disc;        
  padding-left: 20px;     
}

.sidebar-list li {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 17px;
}

/* Sidebar.css */

.sidebar {
  position: fixed;
  width: 200px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 64px;   
  height: calc(100vh - 64px);
}

.sidebar-item {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-item:hover {
  background-color: #ddd;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sidebar-list {
  list-style: disc;        
  padding-left: 20px;     
}

.sidebar-list li {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 17px;
}

.sidebar-list a {
  text-decoration: none;   /* 去底線 */
  color: inherit;          /* 繼承原本字色 */
}

.sidebar-item:hover {
  background-color: #ddd;
}

.sidebar-item {
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.sidebar-item:hover {
  background-color: #ddd;
}
