.slider {
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
}
